<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Template for omnidl.app; packaging/macos/bundle.sh fills in @VERSION@. -->
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>CFBundleDisplayName</key>
	<string>omnidl</string>
	<key>CFBundleExecutable</key>
	<string>omnidl</string>
	<key>CFBundleIconFile</key>
	<string>omnidl</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.hattinga.omnidl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>omnidl</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION@</string>
	<key>CFBundleVersion</key>
	<string>@VERSION@</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>io.github.hattinga.omnidl</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>omnidl</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>MIT-Lizenz · github.com/Hattinga/omnidl</string>
</dict>
</plist>
